<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('partials/head.ejs') %>
		<link rel="stylesheet" href="css/styleNosotros.css" />
	</head>
	<body>
		<%- include ("partials/Header.ejs") %>
		<main class="contenedor">
			<h1>Nosotros</h1>

			<div class="nosotros">
				<div class="nosotros__contenido">
					<p>
						Bienvenidos a LATININSTRUMENTSSA, tu destino definitivo para los amantes de la música y los coleccionistas de vinilos. Desde nuestros inicios, nos hemos comprometido a ofrecer una experiencia única para todos los apasionados por los sonidos auténticos y la calidad excepcional.

						nos enorgullece reunir una cuidada selección de instrumentos musicales y vinilos que capturan la esencia y la nostalgia de diferentes épocas y géneros musicales. Ya sea que estés buscando el vinilo perdido de tu banda favorita o el instrumento perfecto para expresar tu creatividad, estamos aquí para ayudarte a encontrar lo que necesitas.

						Nuestra pasión por la música va más allá de la simple venta de productos; estamos comprometidos con la comunidad musical y queremos compartir nuestro entusiasmo contigo. Nuestro equipo está formado por músicos y melómanos que están aquí para brindarte asesoramiento experto y recomendaciones personalizadas.

						Además de nuestra tienda en línea, también ofrecemos un espacio físico donde puedes sumergirte en la experiencia sensorial de explorar vinilos y probar instrumentos antes de llevarlos a casa. Creemos que cada pieza musical tiene una historia que contar y estamos emocionados de ayudarte a descubrir la tuya.

						Únete a nosotros en LATININSTRUMENTSSA y deja que la música sea la banda sonora de tu vida. Explora, descubre y vive la pasión por la música con nosotros.
					</p>
				</div>
				<img src="/img/nosotros/nosotros.jpg" alt="Nosotros imagen" class="nosotros__imagen" />
			</div>

			<section class="contenedor comprar">
				<h2 class="comprar__titulo">¿Por qué comprar con nosotros?</h2>

				<div class="bloques">
					<div class="bloque">
						<img class="bloque__img" src="/img/nosotros/icono_1.png" alt="por que comprar" />
						<h3 class="bloque__titulo">El Mejor Precio</h3>
						<p>Eveniet vel necessitatibus voluptatibus quasi officiis. Maiores exercitationem voluptatem ipsam, ipsum saepe fugiat expedita asperiores optio accusantium possimus. Rerum quae iusto error!</p>
					</div>
					<div class="bloque">
						<img class="bloque__img" src="/img/nosotros/icono_2.png" alt="para devs" />
						<h3 class="bloque__titulo">Para Desarrolladores</h3>
						<p>Eveniet vel necessitatibus voluptatibus quasi officiis. Maiores exercitationem voluptatem ipsam, ipsum saepe fugiat expedita asperiores optio accusantium possimus. Rerum quae iusto error!</p>
					</div>
					<div class="bloque">
						<img class="bloque__img" src="/img/nosotros/icono_3.png" alt="envio gratis" />
						<h3 class="bloque__titulo">Envio Gratis</h3>
						<p>Eveniet vel necessitatibus voluptatibus quasi officiis. Maiores exercitationem voluptatem ipsam, ipsum saepe fugiat expedita asperiores optio accusantium possimus. Rerum quae iusto error!</p>
					</div>
					<div class="bloque">
						<img class="bloque__img" src="/img/nosotros/icono_4.png" alt="mejor calidad" />
						<h3 class="bloque__titulo">La mejor calidad</h3>
						<p>Eveniet vel necessitatibus voluptatibus quasi officiis. Maiores exercitationem voluptatem ipsam, ipsum saepe fugiat expedita asperiores optio accusantium possimus. Rerum quae iusto error!</p>
					</div>
				</div>
			</section>
		</main>
		<%- include ("partials/Footer.ejs") %>
	</body>
</html>
