<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head.ejs') %>
    <link rel="stylesheet" href="/css/styleRegistro.css">
    <title>Registro</title>
</head>

<body>

    <%- include ("partials/Header.ejs") %>

        <div class="container-form">
            <div class="titulo">
                <h1>Registrarme</h1>
            </div>
            <div class="container-form">
                <form action="register" method="POST" class="form" enctype="multipart/form-data">

                    <div class="form-section">
                        <label>
                            <input type="text" name="name" class="form-input" placeholder="Nombre de usuario">
                        </label>
                    </div>
                    <div class="form-section">
                        <label>
                            <input type="email" name="email" class="form-input" placeholder="Email" >
                        </label>
                    </div>
                    <div class="form-section">
                        <label>
                            <input type="password" name="password" class="form-input" placeholder="Constraseña" >
                        </label>
                    </div>
                    <div class="form-section">
                        <label>
                            <input type="password" name="password" class="form-input" placeholder="Repite Contraseña" >
                        </label>
                    </div>
					<div class="form-section">
						<label for="image" class="label-form">Imagen</label>
						<input id="image" name="image" type="file" class="form-input-img" accept=".jpg, .png, .jpeg" />
					</div>

                    <div class="form-section">
                        <input type="submit" class="form-input-button" value="Registrarse">
                    </div>
                    <br>
                    <div class="form-section"> <a href="#">
                            <p>¿Olvidó su contraseña?
                        </a> <br><br> </p>
                    </div>
                    <br> <br>
                    <div class="form-section">
                        <input type="submit" class="form-input-button" value="Ingreso con Google">
                    </div>
            </div>
            </form>
        </div>
        </div>
</body>

<%- include ("partials/Footer.ejs") %>

</html>