<header class="header">
    <nav>
        <div class="navegacion">
            <div class="logo">
                <a href="/"> LATIN INSTRUMENTS</a>
            </div>
            <input type="radio" name="slider" id="menu-btn" />
            <input type="radio" name="slider" id="btn--cerrar" />
            <label for="menu-btn" class="btn menu-btn"><i class="fas fa-bars"></i></label>
            <ul class="navegacion__links">
                <label for="btn--cerrar" class="btn btn--cerrar"><i class="fas fa-times"></i></label>
                <li><a href="/">Inicio</a></li>
                <li><a href="nosotros">Nosotros</a></li>
                <li>
                    <a href="#" class="desktop-item">Últimos vinilos</a>
                    <input type="checkbox" id="desplegable" />
                    <label for="desplegable" class="movil">Últimos vinilos</label>
                    <ul class="desplegable">
                        <li><a href="/product/detail/18">Circles - Mac Miller</a></li>
                        <li><a href="/product/detail/19">Evermore - Taylor Swift</a></li>
                        <li><a href="/product/detail/20">Shelter - Alcest</a></li>
                        <li><a href="/product/detail/21">Hungry Ghost - Violent Soho</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="desktop-item">Categorías</a>

                    <input type="checkbox" id="desplegable" />
                    <label for="desplegable" class="movil">Categorías</label>
                    <ul class="desplegable">
                        <li><a href="/instrumentos">Instrumentos y Accesorios</a></li>
                        <li><a href="/vinilos">Vinilos</a></li>
                    </ul>
                </li>
                <% if(!locals.isLogged){ %>

                    <li><a href="/users/login">Iniciar sesión</a></li>
                    <li><a href="/users/register">Registrarse</a></li>
                    <% } else {%>
                        <li><a href="/carrito">Carrito</a></li>
                        <li><a href="/product/create">Crear</a></li>
                        <li><a href="/users/profile">Hola <%= locals.userLogged.name %></a></li>
                        <li><a href="/users/logout">Cerrar Sesión</a></li>
                        <% }%>
            </ul>
        </div>
    </nav>
</header>